<div *ngIf="!auth.user" class="container mt-5">
  <div class="row align-items-center">
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 pmd-5 border rounded-3 bg-light">
        <legend>Login</legend>
        <div class="form-floating mb-3">
          <input
            type="text"
            name="email"
            [(ngModel)]="email"
            class="form-control"
            placeholder="E-mail"
            id="inputEmail"
          />
          <label for="inputEmail">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            class="form-control"
            placeholder="Senha"
            id="inputPassword"
          />
          <label for="inputPassword">Senha</label>
        </div>
        <button
          (click)="auth.emailSignin(this.email, this.password)"
          class="btn btn-primary col-12 mt-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="13"
            fill="currentColor"
            class="bi bi-envelope-at-fill"
            viewBox="0 0 18 16"
          >
            <path
              d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"
            />
            <path
              d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"
            />
          </svg>

          Login with e-mail
        </button>

        <button
          (click)="auth.googleSignin()"
          class="btn btn-danger col-12 mt-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="12"
            fill="currentColor"
            class="bi bi-google"
            viewBox="0 0 18 16"
          >
            <path
              d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"
            />
          </svg>
          Login with Google
        </button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="auth.error" style="color: red" class="container">
  {{ auth.error }}
</div>
<div *ngIf="auth.user" class="container">
  Logged as <b>{{ auth.user.email }}</b> |
  <button (click)="auth.signOut()" class="btn btn-primary">Exit</button>
  <hr />

  <h1>My list of tasks</h1>
  <div>
    <div>Task</div>
    <div class="input-group mb-1">
      <span class="input-group-text">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="#003c11"
          class="bi bi-journal-check"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"
          />
          <path
            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"
          />
          <path
            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"
          />
        </svg>
      </span>
      <input
        [(ngModel)]="formNewTask"
        type="text"
        class="form-control"
        placeholder="Task name"
      />
    </div>
  </div>
  <div>
    <div>Description</div>
    <div class="input-group mb-1">
      <span class="input-group-text">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="#003c11"
          class="bi bi-card-text"
          viewBox="0 0 16 16"
        >
          <path
            d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"
          />
          <path
            d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </span>
      <input
        [(ngModel)]="formNewDescription"
        type="text"
        class="form-control"
        placeholder="Task description"
      />
      <span class="input-group-text" (click)="addItem()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="#003c11"
          class="bi bi-plus-lg"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
          />
        </svg>
      </span>
    </div>
  </div>

  <div class="col-12 py-3">
    <div class="card bg-white mt-4" *ngFor="let item of list | async">
      <div class="card-header">
        {{ item.task }}
      </div>
      <div class="card-body text-dark">
        <h4 class="card-title">{{ item.description }}</h4>
      </div>
      <div class="card-footer text-muted d-flex justify-content-between">
        <div>Aqui deveria ir a data</div>
        <div>
          <button (click)="deleteItem(item.key)" class="btn btn-outline-danger">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              fill="currentColor"
              class="bi bi-trash3-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-pomodoro-timer></app-pomodoro-timer>
</div>
