<div *ngIf="!auth.user">
  <form>
    <fieldset>
      <legend>Login</legend>
      <div>Email</div>
      <input type="text" name="email" [(ngModel)]="email" 
      placeholder="Seu email aqui"/>
      <div>Senha</div>
      <input type="password" name="password" [(ngModel)]="password" 
      placeholder="Sua senha aqui"/>
      <hr />
      <button (click)="auth.emailSignin(this.email, this.password)">
        Login with e-mail
      </button>
      |
      <button (click)="auth.googleSignin()">Login with Google</button>
    </fieldset>
  </form>
</div>

<div *ngIf="auth.error" style="color: red">
  {{ auth.error }}
</div>
<div *ngIf="auth.user">
  Logged as <b>{{ auth.user.email }}</b> |
  <button (click)="auth.signOut()">Exit</button>
  <hr />

  <h2>Firebase list</h2>
  <hr />
  <div>Task</div>
  <div><input [(ngModel)]="formNewTask" /></div>
  <div>Description</div>
  <div><input type="text" [(ngModel)]="formNewDescription" /></div>
  <br />
  <button (click)="addItem()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
    </svg>
  </button>
  <hr />
  <table class="table table-striped">
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th> Status </th>
    </tr>
    <tr *ngFor="let item of list | async">
      <td [title]="['chave: ' + item.key]">{{ item.task }}</td>
      <td>{{ item.description }}</td>
      <td>
        <button (click)="deleteItem(item.key)">
          <svg xmlns="http://www.w3.org/2000/svg" font-weight="800" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
          </svg>
        </button>
      </td>
    </tr>
  </table>
</div>
